.header {
    align-items: center;
    justify-content: center;
    display: flex;
    line-height: 10px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-color: white;
    z-index: 1;
    overflow: hidden;
}
.wrapper {
    margin: auto; /* Margin auto membuat wrapper berada ditengah */
    position: relative;
    overflow-x: hidden;
  }

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 1rem;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 1rem;
}

.nav-link {
    font-size: 20px;
    font-family: "Poppins";
    font-weight: bolder;
    color: #474747;
}

.nav-link-btn {
    font-size: 18px;
    font-family: "Poppins";
    font-weight: bolder;
    color: white;
}

.nav-link:hover {
    color: silver;
}

.nav-link-btn:hover {
    color: #474747;
}

.logo-navbar {
    width: 100px;
    height: 90px;
  margin-left: 35px;
  align-items: center;
  margin-bottom: 15px;


    
}
a{
    text-decoration: none;
    color: #fff;
}
li {
    list-style: none;
  }